
.container {
  display: flex;
  flex-direction: column;
}

.img-1 {
  height: 100%;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0px;
}

.container-bot {
  display: flex;
  background-color: darkgrey;
  margin: -5px;
}

.img-2 {
  height: 200px;
  width: 200px;
}

