.top-info {
  text-align: center;
  color: white;
}

ol{
  position: relative;
  left: 17.25em;
  padding-bottom: 10px;
}
.bot-info {
text-align: center;
}


body {
  background: rgb(231, 154, 167);
}
 #quote {
  color: white;
 }
 #education:hover {color: black;}