.header{
  background-color: blue;
  width: 100%;
  height: 50px;
}

.grid-container {
  display: grid;
}

.sidebar {
  background-color: red;
}

.main {
  background-color: pink;

}

.right {
  background-color: yellow;
}

.footer {
  background-color: black;
color: white;
}