


.nav  {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.title  {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 55px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px; ;
}

.colum-2 {
  padding-left: 264px;
}


