
header {
background-color:  #8C271E;
height: 100px ;
}


.nav{
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color:#CFCBCA;;
  text-align: center;
}

img {
  max-height: 100px;
  max-width:100px
}

.title  {
display: flex;
justify-content: space-evenly;
padding-top: 55px;
}

.logo {padding-right: 110px;}

.title div {text-align: center;}

.container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

body {background-color: #CFCBCA;}

.colum-2 {
  padding-left: 137px;
}

footer {
  display: flex;
  justify-content: space-around;
}


