#content {
  max-width: 1600px ;
  margin:0 auto;
}
nav a{
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 35px;
}

#hero-msg h1, h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
}

body {
  background-color:  #CFCBCA;
  font-size: 22px;
  padding: 0;
  margin: 0 ;
}

header {
  background-color:#8C271E;
  display: grid;
  grid-template-columns: 150px auto;
}

nav a:hover {
  background-color:#396E94;
  color: black;
} 

.book, .join:hover{
  background-color:#D9F7FA;
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.join {
  text-decoration: none;
  color: #396E94;
}

#background {
  background-color:#D8DDDE;
}

.msg {
  background-color:#D8DDDE;
  line-height: 1.5em;
  padding: 35px;
}

.msg h2 {
color: #396E94;
}

.msg p {
color: black;
font-size: .8em;
padding-bottom: 15px;
}

footer {
  background-color:#8C271E;
  font-size: 1.3em;
  padding: 25px 50px;
  margin-top: 200px;
  }
 
footer a {
  color: #D8DDDE;
}

footer a:hover {
  color:#396E94 ;
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}

footer .social img{
  padding-top: 15px;
}

.home-title {
  color: #396E94;
  font-family:'roboto', sans-serif;
  font-size: 2rem;
  margin-top: 10px;
}

h4 {
  color: #8C271E;
}

h2 {
  margin: 0;
}

.logo {
  width: 80px;
}

#logo_link {
  padding-top: 5px;
 

}

.icon {
  width: 80px;
  padding-top: 10px ;
}

.rivers-card, .camping-card, .rapids-card {
  margin:200px 0
}

.card-img {
  border:10px solid #396E94;
}

main section img {
  box-sizing:border-box
}