#content {
  max-width: 1600px ;
  margin:0 auto;
}
nav a{
  text-align: center;
  text-decoration: none;
  color: white;
}
#hero-msg h1, h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
#background {
  height: 725px;

}

body {
  background-color:  #CFCBCA;
  font-size: 22px;
}
header {
  background-color:#8C271E;
}
nav a:hover {
  background-color:#396E94;
  color: black;
} 

.book, .join:hover{
  background-color:#D9F7FA;
  color: black;
  text-decoration: none;
}

.join {
  text-decoration: none;
  color: #396E94;
}
#background {
  background-color:#D8DDDE;
}
.msg {
  background-color:#D8DDDE;
}

.msg h2 {
color: #396E94;
}

.msg p {
color: black;
}

footer {
  background-color:#8C271E;
  font-size: 1.3em;
  }
 
footer a {
  color: #D8DDDE;
}
footer a:hover {
  color:#396E94 ;
  text-decoration: none;
}
footer p a:hover {
  text-decoration: underline;
}
.home-title {
  color: #396E94;
  font-family:'roboto', sans-serif;
  font-size: 2rem;
}
h4 {
  color: #8C271E;
}

.logo {
  width: 80px;
}
.icon {
  width: 80px;
}
