#content {
  max-width: 1600px ;
  margin:0 auto;
}
nav a{
  text-align: center;
}
#hero-msg h1, h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
#background {
  height: 725px;

}

body {
  background-color:  #CFCBCA;
}
header {
  background-color:#8C271E;
}
nav a:hover {
  background-color:#396E94;
} 

.book, .join:hover{
  background-color:#D9F7FA;
}

#background {
  background-color:#D8DDDE;
}
.msg {
  background-color:
}

footer {
  background-color:#8C271E;
}