
.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
}

.img-1 {
  height: 400px;
  width: 100%;
}

.container-top {
  margin: -5px;
}

body {
  padding: 0px;
  margin: 0px;
}

.container-bot {
  display: flex;
  background-color: darkgrey;
  justify-content: space-around;
  width: 100%;
}

.img-2 {
  height: 200px;
  width: 200px;
  margin-top: 52px;
  border-radius: 50%;
  border: 12px solid black;
}
